
    <!-- form -->
    <div class="form">
        <h1>Añadir modelo</h1>
        <form class="form-form" action="/addModel" method="POST">
            <input type="text" placeholder="Nombre del modelo" name="name">
            <input type="text" placeholder="Velocidad maxima" name="speed">
            <input type="submit" value="Guardar">
        </form>
    </div>
    <img src="./images/car.png" alt="lamborghini" class="car-image">